* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
body {
  overflow: hidden;
}
.box_aktualnosci {
  margin-top: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.aktualnosci {
  position: relative;
  overflow: hidden;
  height: 70vh;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.aktualnosci figure {
  position: relative;
  width: 500%;
  left: 200%;
  animation: 20s slider infinite;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  float: left;
}
figure div {
  width: 100%;
}
figure div img {
  width: 20%;
  object-fit: cover;
  float: left;
}

footer {
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.pasek {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  bottom: -21%;
}
.pasek img {
  width: 150px;
  height: 100px;
  transform: translateX(1000%);
  animation: dogAnimation 13s ease-in forwards;
}
.pasek h2 {
  text-align: center;
  transform: translateX(320%);
  animation: textAnimation 12s 0.5s ease-in-out forwards;
}

@keyframes dogAnimation {
  to {
    transform: translateX(-200%);
  }
}
@keyframes textAnimation {
  to {
    transform: translateX(85%);
  }
}
@keyframes MtextAnimation {
  to {
    transform: translateX(-20%);
  }
}
@keyframes slider {
  0% {
    left: 200%;
  }
  20% {
    left: 200%;
  }
  25% {
    left: 100%;
  }
  45% {
    left: 100%;
  }
  50% {
    left: 0%;
  }
  70% {
    left: 0%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: -200%;
  }
}
@media (max-width: 900px) {
  .aktualnosci {
    height: 30vh;
    margin-top: 10rem;
    overflow: hidden;
  }
  .pasek {
    overflow: hidden;
    bottom: -21%;
  }
  .pasek img {
    transform: translateX(380%);
    animation: dogAnimation 5s ease-in forwards;
  }
  .pasek h2 {
    transform: translateX(220%);
    animation: MtextAnimation 4s 0.7s ease-in-out forwards;
  }
}
